# Querying Big Data Clusters using T-SQL and Polybase
Inside Big Data Clusters we can use various options to query the data we store inside, or outside, our Big Data Clusters.
One of the methods being through good, old, T-SQL queries!

Let's start by creating an External Table.
The first one we are going to create through the Wizard, he second using T-SQL.

In [1]:
USE BDC_External

In [2]:
-- Create the external data source
CREATE EXTERNAL DATA SOURCE [SqlStoragePool] WITH (LOCATION = N'sqlhdfs://controller-svc/default');

In [21]:
-- Define the source format
CREATE EXTERNAL FILE FORMAT [FileFormat_airports]
    WITH (FORMAT_TYPE = DELIMITEDTEXT, FORMAT_OPTIONS (FIELD_TERMINATOR = N',', STRING_DELIMITER = N'"', FIRST_ROW = 2));

In [22]:
-- Create the external table from the CSV file
CREATE EXTERNAL TABLE [dbo].[Airports]
        (
            [IATA_CODE] nvarchar(50) NOT NULL,
            [AIRPORT] nvarchar(100) NOT NULL,
            [CITY] nvarchar(50) NOT NULL,
            [STATE] nvarchar(50) NOT NULL,
            [COUNTRY] nvarchar(50) NOT NULL,
            [LATITUDE] float,
            [LONGITUDE] float
        )
WITH (LOCATION = N'/Flight_Delays/airports.csv', DATA_SOURCE = [SqlStoragePool], FILE_FORMAT = [FileFormat_airports]);

In [3]:
-- Select some data!
SELECT TOP 10 * FROM Airports
SELECT TOP 10 * FROM Airlines
SELECT TOP 10 * FROM Flights

In [4]:
-- We can also join data from external tables together if we want to
SELECT TOP 10
    a.airline,
    f.flight_number,
    f.origin_airport,
    f.destination_airport
FROM flights f
INNER JOIN airlines a
ON f.airline = a.iata_code

In [5]:
-- Cleanup
DROP EXTERNAL TABLE [dbo].[airlines]
DROP EXTERNAL TABLE [dbo].[flights]
DROP EXTERNAL TABLE [dbo].[airports]

DROP EXTERNAL FILE FORMAT FileFormat_airlines
DROP EXTERNAL FILE FORMAT FileFormat_airports
DROP EXTERNAL FILE FORMAT FileFormat_flights

DROP EXTERNAL DATA SOURCE [SqlStoragePool]